@tailwind base;
@tailwind components;
@tailwind utilities;


*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-slate-900
}

.button {
  @apply rounded-full bg-white text-blue-900 px-8 py-1
}

.button_inverse {
  @apply rounded-full bg-blue-900 text-white px-6 py-2 duration-300 hover:bg-blue-700
}